# Port number for the application to run on (default: 3000)
NEXT_PUBLIC_PORT=

# Chain ID for the blockchain network (e.g., 27272 for DMD Beta)
NEXT_PUBLIC_CHAINID=

# Human-readable name of the blockchain network (e.g., DMD Beta)
NEXT_PUBLIC_CHAIN_NAME=

# RPC URL to connect to the blockchain network (e.g., https://beta-rpc.bit.diamonds/)
NEXT_PUBLIC_RPC_URL=

# WebSocket URL for real-time connection to the blockchain network (e.g., wss://beta-rpc.bit.diamonds/ws)
NEXT_PUBLIC_WS_URL=

# URL of the blockchain explorer for viewing transactions (e.g., https://beta-explorer.bit.diamonds/)
NEXT_PUBLIC_EXPLORER_URL=

# WalletConnect project ID for integration 
NEXT_PUBLIC_WC_PROJECT_ID=

# Contract address for claiming rewards or tokens
NEXT_PUBLIC_CLAIMING_CONTRACT_ADDRESS=

# Contract address for the aggregator
NEXT_PUBLIC_AGGREGATOR_CONTRACT_ADDRESS=

# Contract address for the DAO contract
NEXT_PUBLIC_DAO_CONTRACT_ADDRESS=

# Contract address for the low majority contract
NEXT_PUBLIC_LOW_MAJORITY_CONTRACT_ADDRESS=

# Enable transaction debugging (0 to disable, 1 for errors only, 2 for all logs)
NEXT_PUBLIC_DEBUG_TX=
NEXT_PUBLIC_DEBUG_TX_LEVEL=1

# Origin and Referer for API requests (should match the deployed frontend URL)
NEXT_PUBLIC_SITE_URL=

# DiamondDB API endpoint
DB_API_BASE_URL=

# Bearer token for authenticating with the DiamondDB API
DB_API_TOKEN=