# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
*.pem
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vscode
/.vscode/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local
todo
test.html
package-lock.json
createProposals.js

src/contracts/types/*
src/contracts/abis/*
!src/contracts/types/.gitkeep
!src/contracts/abis/.gitkeep
